logging:
  level:
    org.zalando.logbook: ERROR

spring:
  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always

  datasource:
    url: jdbc:h2:file:./db/filmorate
    driverClassName: org.h2.Driver
    username: sa
    password: password

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect